[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
pydot = "*"
graphviz = "*"
scikit-learn = "*"
numpy = "*"
pandas = "*"
torch = "*"
pillow = "*"
streamlit = "*"
install = "*"
sklearn = "*"
html5lib = "*"

[dev-packages]
